<a href="https://colab.research.google.com/github/sandhyakp/Data_Analysis_Project/blob/main/zomato_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_excel('/content/zomato (1).xlsx')

In [4]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
df.shape

(9551, 21)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [7]:
for col in df.columns:
  print(col,'--'*50)
  print(df[col].unique())

Restaurant ID ----------------------------------------------------------------------------------------------------
[6317637 6304287 6300002 ... 5915807 5916112 5927402]
Restaurant Name ----------------------------------------------------------------------------------------------------
['Le Petit Souffle' 'Izakaya Kikufuji' 'Heat - Edsa Shangri-La' ...
 'Huqqa' 'A\x81ô\x81ôk Kahve' "Walter's Coffee Roastery"]
Country Code ----------------------------------------------------------------------------------------------------
[162  30 216  14  37 184 214   1  94 148 215 166 189 191 208]
City ----------------------------------------------------------------------------------------------------
['Makati City' 'Mandaluyong City' 'Pasay City' 'Pasig City' 'Quezon City'
 'San Juan City' 'Santa Rosa' 'Tagaytay City' 'Taguig City' 'Brasí_lia'
 'Rio de Janeiro' 'Sí£o Paulo' 'Albany' 'Armidale' 'Athens' 'Augusta'
 'Balingup' 'Beechworth' 'Boise' 'Cedar Rapids/Iowa City' 'Chatham-Kent'
 'Clatskanie' 'Cochrane' 'Columbus' 'Consort' 'Dalton' 'Davenport'
 'Des Moines' 'Dicky Beach' 'Dubuque' 'East Ballina' 'Fernley' 'Flaxton'
 'Forrest' 'Gainesville' 'Hepburn Springs' 'Huskisson' 'Inverloch'
 'Lakes Entrance' 'Lakeview' 'Lincoln' 'Lorn' 'Macedon' 'Macon' 'Mayfield'
 'Mc Millan' 'Middleton Beach' 'Miller' 'Monroe' 'Montville'
 'Ojo Caliente' 'Orlando' 'Palm Cove' 'Paynesville' 'Penola' 'Pensacola'
 'Phillip Island' 'Pocatello' 'Potrero' 'Princeton' 'Rest of Hawaii'
 'Savannah' 'Singapore' 'Sioux City' 'Tampa Bay' 'Tanunda' 'Trentham East'
 'Valdosta' 'Vernonia' 'Victor Harbor' 'Vineland Station' 'Waterloo'
 'Weirton' 'Winchester Bay' 'Yorkton' 'Abu Dhabi' 'Dubai' 'Sharjah' 'Agra'
 'Ahmedabad' 'Allahabad' 'Amritsar' 'Aurangabad' 'Bangalore' 'Bhopal'
 'Bhubaneshwar' 'Chandigarh' 'Chennai' 'Coimbatore' 'Dehradun' 'Faridabad'
 'Ghaziabad' 'Goa' 'Gurgaon' 'Guwahati' 'Hyderabad' 'Indore' 'Jaipur'
 'Kanpur' 'Kochi' 'Kolkata' 'Lucknow' 'Ludhiana' 'Mangalore' 'Mohali'
 'Mumbai' 'Mysore' 'Nagpur' 'Nashik' 'New Delhi' 'Noida' 'Panchkula'
 'Patna' 'Puducherry' 'Pune' 'Ranchi' 'Secunderabad' 'Surat' 'Vadodara'
 'Varanasi' 'Vizag' 'Bandung' 'Bogor' 'Jakarta' 'Tangerang' 'Auckland'
 'Wellington City' 'Birmingham' 'Edinburgh' 'London' 'Manchester' 'Doha'
 'Cape Town' 'Inner City' 'Johannesburg' 'Pretoria' 'Randburg' 'Sandton'
 'Colombo' 'Ankara' 'Istanbul']
Address ----------------------------------------------------------------------------------------------------
['Third Floor, Century City Mall, Kalayaan Avenue, Poblacion, Makati City'
 'Little Tokyo, 2277 Chino Roces Avenue, Legaspi Village, Makati City'
 'Edsa Shangri-La, 1 Garden Way, Ortigas, Mandaluyong City' ...
 'Kuruí_e\x81ôme Mahallesi, Muallim Naci Caddesi, No 56, Be\x81ôikta\x81ô, Istanbul'
 'Kuruí_e\x81ôme Mahallesi, Muallim Naci Caddesi, No 64/B, Be\x81ôikta\x81ô, Istanbul'
 'CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B, KadÛ±kí_y, Istanbul']
Locality ----------------------------------------------------------------------------------------------------
['Century City Mall, Poblacion, Makati City'
 'Little Tokyo, Legaspi Village, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City' ... 'Ko\x81ôuyolu'
 'Kuruí_e\x81ôme' 'Moda']
Locality Verbose ----------------------------------------------------------------------------------------------------
['Century City Mall, Poblacion, Makati City, Makati City'
 'Little Tokyo, Legaspi Village, Makati City, Makati City'
 'Edsa Shangri-La, Ortigas, Mandaluyong City, Mandaluyong City' ...
 'Ko\x81ôuyolu, Istanbul' 'Kuruí_e\x81ôme, Istanbul' 'Moda, Istanbul']
Longitude ----------------------------------------------------------------------------------------------------
[121.027535   121.014101   121.056831   ...  29.03464001  29.036019
  29.02601603]
Latitude ----------------------------------------------------------------------------------------------------
[14.565443   14.553708   14.581404   ... 41.05581715 41.057979
 40.98477563]
Cuisines ----------------------------------------------------------------------------------------------------
['French, Japanese, Desserts' 'Japanese'
 'Seafood, Asian, Filipino, Indian' ... 'Burger, Izgara'
 'World Cuisine, Patisserie, Cafe' 'Italian, World Cuisine']
Average Cost for two ----------------------------------------------------------------------------------------------------
[  1100   1200   4000   1500   1000   2000   6000    800    900    700
    850    600   3000   1800     55     30     45     60     50     80
     90    200    150    100    230    240    350    140    170    120
    250     40     70    300     85     75    400     65     25     10
      0     20     35      7    270    500    430    315    220     95
    190    260    180    330    280    160    285    130    110   2500
   3600    550   1400    450    950    650   1300   2400   1600   2200
    750   1700   1250   1900   2700   3500   5000   2300   1750   3200
   2100   1850   4500   3300   1350   1650   1950   1050    290   1450
   2800   3650   4800   1550    720   6500   7000   1150   2900   2600
   4700   3700   3800   4100   4300   2650   5100   5500   4400   4200
   8000   2350 150000  70000 250000 200000 165000 800000 500000 300000
 450000 120000 100000 350000    105     15    445    294    360    535
    125    320    570   1540    515    955    390    410   3210    545]
Currency ----------------------------------------------------------------------------------------------------
['Botswana Pula(P)' 'Brazilian Real(R$)' 'Dollar($)' 'Emirati Diram(AED)'
 'Indian Rupees(Rs.)' 'Indonesian Rupiah(IDR)' 'NewZealand($)'
 'Pounds(Œ£)' 'Qatari Rial(QR)' 'Rand(R)' 'Sri Lankan Rupee(LKR)'
 'Turkish Lira(TL)']
Has Table booking ----------------------------------------------------------------------------------------------------
['Yes' 'No']
Has Online delivery ----------------------------------------------------------------------------------------------------
['No' 'Yes']
Is delivering now ----------------------------------------------------------------------------------------------------
['No' 'Yes']
Switch to order menu ----------------------------------------------------------------------------------------------------
['No']
Price range ----------------------------------------------------------------------------------------------------
[3 4 2 1]
Aggregate rating ----------------------------------------------------------------------------------------------------
[4.8 4.5 4.4 4.9 4.  4.2 4.3 3.6 4.7 3.  3.8 3.7 3.2 3.1 0.  4.1 3.3 4.6
 3.9 3.4 3.5 2.2 2.9 2.4 2.6 2.8 2.1 2.7 2.5 1.8 2.  2.3 1.9]
Rating color ----------------------------------------------------------------------------------------------------
['Dark Green' 'Green' 'Yellow' 'Orange' 'White' 'Red']
Rating text ----------------------------------------------------------------------------------------------------
['Excellent' 'Very Good' 'Good' 'Average' 'Not rated' 'Poor']
Votes ----------------------------------------------------------------------------------------------------
[ 314  591  270 ...  788 1034  901]

In [ ]:
#finded every cities Highest rated Restaurants
df

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,Istanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, Istanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,Istanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, Istanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,Istanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, Istanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,Istanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, Istanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,Istanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, Istanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

1. What are the highest-rated restaurants in a particular city or country?

In [8]:
df.iloc[df.groupby('City')['Aggregate rating'].idxmax()][['City','Restaurant Name','Aggregate rating']].reset_index(drop=True)

,City,Restaurant Name,Aggregate rating
0,Abu Dhabi,Punjab Grill,4.9
1,Agra,Sheroes Hangout,4.9
2,Ahmedabad,Cryo Lab,4.6
3,Albany,Guang Zhou Chinese Restaurant,3.9
4,Allahabad,Eat On,3.7
...,...,...,...
136,Waterloo,Four Queens Dairy Cream,3.9
137,Weirton,Theo Yianni's Authentic Greek Restaurant,3.9
138,Wellington City,The Hangar,4.6
139,Winchester Bay,Fishpatrick's Crabby Cafe,3.2
140,Yorkton,Arigato Sushi,3.3

In [ ]:
df['City'].value_counts()

City
New Delhi           5473
Gurgaon             1118
Noida               1080
Faridabad            251
Ghaziabad             25
                    ...
Panchkula              1
Mc Millan              1
Mayfield               1
Macedon                1
Vineland Station       1
Name: count, Length: 141, dtype: int64

In [22]:
df.groupby('City')['Price range'].mean()

City
Abu Dhabi          3.300000
Agra               2.650000
Ahmedabad          2.571429
Albany             1.700000
Allahabad          2.650000
                     ...
Waterloo           1.750000
Weirton            2.000000
Wellington City    3.250000
Winchester Bay     2.000000
Yorkton            2.000000
Name: Price range, Length: 141, dtype: float64

2. How does the average rating vary between different cuisines or price ranges?

In [24]:
df.groupby('Cuisines')[['Aggregate rating','Price range']].mean()

                 Aggregate rating  Price range
City
Abu Dhabi                4.300000     3.300000
Agra                     3.965000     2.650000
Ahmedabad                4.161905     2.571429
Albany                   3.555000     1.700000
Allahabad                3.395000     2.650000
...                           ...          ...
Waterloo                 3.650000     1.750000
Weirton                  3.900000     2.000000
Wellington City          4.250000     3.250000
Winchester Bay           3.200000     2.000000
Yorkton                  3.300000     2.000000

[141 rows x 2 columns]

3. Which restaurants have the most reviews (votes) across different regions?

In [34]:
df.iloc[df.groupby('City')['Votes'].idxmax()][['City','Restaurant Name','Votes']].reset_index(drop=True)

                City                           Restaurant Name  Votes
0          Abu Dhabi                    The Cheesecake Factory    586
1               Agra                            Pinch Of Spice    177
2          Ahmedabad                  650 - The Global Kitchen   1582
3             Albany       The Catch Seafood Room & Oyster Bar    250
4          Allahabad                        Tandoor Restaurant    151
..               ...                                       ...    ...
136         Waterloo                   Four Queens Dairy Cream    190
137          Weirton  Theo Yianni's Authentic Greek Restaurant    156
138  Wellington City                                   Fidel's    242
139   Winchester Bay                 Fishpatrick's Crabby Cafe     16
140          Yorkton                             Arigato Sushi     26

[141 rows x 3 columns]

4.What is the distribution of restaurants across different countries or
cities?